body{
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 5rem;
  padding: 10px 30px 10px 30px;
}

.player-container{
  display: flex;
  height: 90vh;
  width: 50%;
  align-items: center;
}


.player{
  padding-top: 25px;
  display:flex;
  flex-direction: column;
  min-width: 600px;
  min-height: 500px;
  align-items: center;

    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0 20px 50px rgba(255, 255, 255, 0.1);
    overflow: hidden;
}

.info{
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.now-playing {
  font-size: 1rem;
}
 
.track-name {
  font-size: 3rem;
}
 
.track-artist {
  font-size: 1.5rem;
}
 
.options {
  display: flex;
  
  flex-direction: row;
  align-items: center;
}
 
.pause-play, .prev-song, .next-song {
  position: relative;
  padding: 25px;
  opacity: 0.8;
  transition: opacity .2s;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1.0;
}
 
/* Define the slider width so that it scales properly */
.slider {
  width: 75%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}
 
.seek, .volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  transition: opacity .2s;
  
}
 
.seek::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.seek:hover,
.volume_slider:hover {
  opacity: 1.0;
}
 
.seek {
  width: 100%;
}
 
.volume_slider {
  width: 40%;
}
 
.current-time,
.total-duration {
  padding: 10px;
}
 
i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}
 
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}

.playlist{
  display: flex;
  flex-direction: column;
  flex-basis: 400px;
  flex-wrap: wrap;
}

form{
  text-align: center;
}